common --enable_bzlmod --noincompatible_sandbox_hermetic_tmp
build --nolegacy_external_runfiles
build --verbose_failures
build --@rules_go//go/config:pure
test --test_output=errors
# we are not using java but some rules depend on it transitively
build --java_language_version=21 --java_runtime_version=remotejdk_21 --tool_java_language_version=21 --tool_java_runtime_version=remotejdk_21

