build --action_env HOME --test_env HOME
common --enable_bzlmod --noincompatible_sandbox_hermetic_tmp
common --incompatible_disallow_empty_glob=false
build --nolegacy_external_runfiles
build --remote_download_all
build --verbose_failures
build --@rules_go//go/config:pure
test --test_output=errors
